# .gitignore file syntax notes
# 1. * match any folder or file
# 2. / start with '/' means absolute path, without '/' means relative path match
# 3. writing syntax: tree structure && Breath first Search example:typora

/ibus/.config/ibus/*
!/ibus/.config/ibus/rime/default.custom.yaml
!/ibus/.config/ibus/rime/double_pinyin_flypy.schema.yaml
/mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf
/ncmpcpp/.config/ncmpcpp/*
!/ncmpcpp/.config/ncmpcpp/config
/scripts/.local/*
!/scripts/.local/scripts/*

# exclusive method
/typora/.config/Typora/*
!/typora/.config/Typora/themes
/typora/.config/Typora/themes/*
!/typora/.config/Typora/themes/nord/
!/typora/.config/Typora/themes/nord.css

/vim/.vim/*
!/vim/.vim/autoload/plug.vim
/xmonad/.xmonad/*
!/xmonad/.xmonad/xmonad.hs
