ibus/.config/ibus/
!/ibus/.config/ibus/rime/default.custom.yaml
!/ibus/.config/ibus/rime/double_pinyin_flypy.schema.yaml
mpd/.config/mpd/
!/mpd/.config/mpd/mpd.conf
ncmpcpp/.config/ncmpcpp/error.log
scripts/.local/share/
typora/.config/Typora/
!/typora/.config/Typora/themes/nord/
!/typora/.config/Typora/themes/nord/nord.css
vim/.vim/
!/vim/.vim/autoload/plug.vim
xmonad/.xmonad/
!/xmonad/.xmonad/xmonad.hs
