*
!aria2/.config/aria2/aria2.conf
!dunst/.config/dunst/dunstrc
!fontconfig/.config/fontconfig/conf.d/
!gtk/.config/
!ibus/.config/ibus/rime/
!mpd/.config/mpd/mpd.conf
!ncmpcpp/.config/ncmpcpp/config
!scripts/.local/scripts/
!themes/
!typora/.config/Typora/themes/
!vim/.vimrc
!vim/.vim/autoload/plug.vim
!xmobar/.config/xmobar/xmobarrc
!xmonad/.xmonad/xmonad.hs
!zsh/.zshrc
!README.md
!.gitignore
